.cart-list {
    padding: 20px 0;
    margin-top: 10px;
}



.adjust-font {
    font-size: 14px;
    margin-bottom: 0px;
}

.adjust-font-title {
    font-size: 14px;
    margin-bottom: 0px; 
    padding-top: 0px;
}

.total-cart {
    width: 50%;
    display: flex;
}


.cart-items {
    position: relative;
    margin-bottom: 15px;
    text-align: left;
    display: flex;
}


.cart-image {
    width: 40%;
    display: flex;
}

img {
    width: 90%;
    height: 90%;
}

.cart-title {
    display: flex;
    width: 50%;
}

.cart-price{
    width: 10%;
    display: flex;
    justify-content: end;
    padding-right: 20px;
}

.btn-buy {
    width: 150px;
    padding: 10px 0;
    outline: none !important;
    border: 0;
    border-radius: 2px;
    position: absolute;
    background: #fff;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    transition: 0.6s;
    opacity: 0;
}

.cart-items:hover .btn-buy {
    transform: translate(-50%, 50%);
    bottom: 50%;
    opacity: 1;
    z-index: 1;
}

.manage-text,
span {
    height: 17px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.manage-text:hover span:not(.empty) {
    background-color: #BDE5F8;
    overflow: visible;
    white-space: normal;
    height: auto;
    position: absolute;
}

.overlay {
    height: 0;
    width: 50%;
    background: #333;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 0.5s;
}

.cart-items:hover .overlay {
    opacity: 0.5;
    height: 100%;
}