.product-list {
    padding: 20px 0;
}

.fashion-box {
    margin: 80px 0;
}

.title-style h1 {
    padding: 40px 0;
}

.title-style {
    margin: 0 auto 80px;
    height: 120px;
    width: 80%;
    min-width: 700px;
    background: #fff;
    position: relative;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 50, 0.5);
}

.title-style::after {
    content: "";
    height: 100px;
    width: 200px;
    background-color: #f992a6;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
}

.title-style::before {
    content: "";
    height: 100px;
    width: 200px;
    background-color: #f992a6;
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: -1;
}

.adjust-font {
    font-size: 13px;
    margin-bottom: 0px;
    color: black;
    text-decoration: none;
}

.adjust-font:hover {
    text-decoration: underline;
}

.adjust-font-title {
    font-size: 14px;
    margin-bottom: 0px;
    padding-top: 0px;
}


.product-segment {
    position: relative;
    margin-bottom: 15px;
    text-align: left;
    /* height: 100%; */
    padding-top: 10px;
    width: 100%;
    
}

.categories{
    width: 15%;
    margin-left: 5px;
}

.categories-align {
    margin-left: 10%;
}

.product-image {
    height: 70%;
}

.product-image-size {
    height: 100%; 
    width: 100%;  
}

.btn-buy {
    width: 150px;
    padding: 10px 0;
    outline: none !important;
    border: 0;
    border-radius: 2px;
    position: absolute;
    background: #fff;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    transition: 0.6s;
    opacity: 0;
}

.product-segment:hover .btn-buy {
    transform: translate(-50%, 50%);
    bottom: 50%;
    opacity: 1;
    z-index: 1;
}

.manage-text, span {
    height: 17px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.manage-text:hover span:not(.empty) {
    background-color: #BDE5F8;
    overflow: visible;
    white-space: normal;
    height: auto;
    position: absolute;
}

.overlay-products {
    height: 0;
    width: 100%;
    background: #333;
    position: absolute;
    top: 10px;
    opacity: 0;
    transition: 0.5s;
}

.product-segment:hover .overlay-products {
    opacity: 0.5;
    width: 100%;
    height: 69%;
}

